@{
    int selectedResource = (int)ViewData["SelectedResource"];
}

<button type="button" class="btn vertical-crd-button" data-toggle="modal" data-target="#createBGroupModal" disabled="@((selectedResource > 0) ? null : "disabled")">
    <i class="far fa-plus-square"></i><br>Add
</button>


<!-- Modal Window-->
<div class="modal fade" id="createBGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete BGroup</h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn modal-button-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn modal-button-primary">Save</button>
            </div>
        </div>
    </div>
</div>

