@{
    int selectedResource = (int)ViewData["SelectedResource"];
    Bgroups selectedBGroup = (Bgroups)ViewData["SelectedBGroup"];
}

<button type="button" class="btn vertical-crd-button" data-toggle="modal" data-target="#deleteBGroupModal" disabled="@((selectedResource > 0 && selectedBGroup != null) ? null : "disabled")">
    <i class="far fa-trash-alt"></i><br>Delete
</button>

