@{
    int selectedResource = (int)ViewData["SelectedResource"];
    Bgroups selectedBGroup = (Bgroups)ViewData["SelectedBGroup"];
}

<button type="button" class="btn vertical-crd-button" data-toggle="modal" data-target="#deleteBGroupModal" disabled="@((selectedResource > 0 && selectedBGroup != null) ? null : "disabled")">
    <i class="far fa-trash-alt"></i><br>Delete
</button>

@if (selectedBGroup != null)
{
    <!-- Modal Window-->
    <div class="modal fade" id="deleteBGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete BGroup</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
}
