<div class="row">
    <div class="col-12">
        <div class="border border-radius-zero bg-white text-dark point-list mt-4 ml-4 mr-4 mb-3">
            <div class="table-responsive">
                <table id="tableView" class="table table-sm table-fixed">
                    <thead class="thead">
                        <tr class="d-flex">
                            <th class="col-1">#</th>
                            <th class="col-3">Point Name</th>
                            <th class="col-2">Direction</th>
                            <th class="col-1">Tag</th>
                            <th class="col-2">Period</th>
                            <th class="col-1">Valid D</th>
                            <th class="col-2">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
