<div class="row">
    <div class="col-12">
        <div class="border border-radius-zero bg-white text-dark group-list mt-2 ml-4 mr-4">
            <div id="tree"></div>
        </div>
    </div>
</div>