/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.main-module .container {
    border-color: #f6fafb;
}

.bgroups {
    height: 500px;
    width: 150px;
    overflow-y: scroll;
    overflow-x: scroll;
}


.navbar {
    background-color: #009530 !important;
    font-weight: 200;
}

.navbar .navbar-brand {
    color: #f6fafb;
    font-weight:300;
    
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #03511c;
}

.navbar .navbar-text {
    color: #f6fafb;
}

.navbar .navbar-text a {
    color: #03511c;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #03511c;
}

.navbar .navbar-nav .nav-link {
    color: #f6fafb;
    border-radius: .25rem;
    margin: 0 0.25em;

}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #03511c;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #03511c;
    background-color: #009530;
}
    .navbar .navbar-toggle {
        border-color: #f6fafb;
        color: #fff;
    }

 .navbar .navbar-toggle:hover,
 .navbar .navbar-toggle:focus {
    background-color: #f6fafb;
 }

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #f6fafb;
}

.navbar .navbar-link {
    color: #f6fafb;
}

.navbar .navbar-link:hover {
    color: #03511c;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f6fafb;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #03511c;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #03511c;
        background-color: #009530;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f6fafb;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
       color: #03511c;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #03511c;
        background-color: #009530;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f6fafb;
    }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #03511c;
        }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #03511c;
            background-color: #009530;
        }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #f6fafb;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
       color: #03511c;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
       color: #03511c;
       background-color: #009530;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f6fafb;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #03511c;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #03511c;
    background-color: #009530;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-weight: 200;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-weight: 300 !important;
}

select {
    font-weight: 300 !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
