@{
    ViewData["Title"] = "Main Page";
    IEnumerable<Resources> resources = ViewData["Resources"] as IEnumerable<Resources>;
}

<div class="main-module bg-light border container">
    <div class="row">
        <div class="col-4">
            Groups
            <div class="row">

                <div class="col border">

                    @{
                        await Html.RenderPartialAsync("_ResourcesPartial", resources);
                    }

                </div>
            </div>
        </div>

    </div>

</div>