@{
    ViewData["Title"] = "Main Page";
}

<div class="alert" id="message" role="alert">

</div>

<div class="main-module">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="border light-bground">
                <p class="mt-2 ml-3 mb-2 section-name">Groups</p>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 pr-none">
                    <div class="border mt-2 text-center vertical-crd h-100">
                        @{
                            await Html.RenderPartialAsync("_CreateBGroupPartial");
                        }

                        @{
                            await Html.RenderPartialAsync("_UpdateBGroupPartial");
                        }

                        @{
                            await Html.RenderPartialAsync("_DeleteBGroupPartial");
                        }
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9 pl-none">
                    <div class="light-bground mt-2 h-100">
                        @{
                            await Html.RenderPartialAsync("_ResourcesPartial");
                        }

                        @{
                            await Html.RenderPartialAsync("_TreeViewPartial");
                        }

                        @{
                            await Html.RenderPartialAsync("_ValidDisbalancePartial");
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-6">
            <div class="border light-bground">
                <p class="mt-2 ml-3 mb-2 section-name">Accounting points</p>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-10 col-sm-9 pr-none">
                    <div class="light-bground text-center mt-2 h-100">
                        @{
                            await Html.RenderPartialAsync("_TableViewPartial");
                        }
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3 pl-none">
                    <div class="border mt-2 text-center vertical-crd">
                        <button type="button" class="btn vertical-crd-button">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button type="button" class="btn vertical-crd-button">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn vertical-crd-button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="border light-bground">
                        <p class="mt-2 ml-3 mb-2 section-name">Formula</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="border light-bground">
                        <p class="mt-2 ml-3 mb-2 section-name">Parameters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
   <partial name="_ValidationScriptsPartial" />
}